main > div > heading > h1 {
  background-color: rgb(41 41 41);
  color: white;
  padding: 10px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgb(29, 29, 29);
  min-height: 100%;
}

body {
  background-color: white;
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.thin {
  max-width: 1000px;
  margin: auto;
}

h1 > small {
  margin-top: 5px;
  font-size: 70%;
  font-weight: 100;
  display: block;
}

.content hr {
  margin: 50px 0 50px 0;
}

.content img {
  width: 100%;
}

.content {
  padding-top: 20px;
}

/*
  SIDEBAR
*/
.with-sidebar {
}

.with-sidebar > * {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
}

.with-sidebar > * > * {
  margin: calc(10px / 2);
  flex-basis: 270px;
  flex-grow: 1;
}

.with-sidebar > * > :first-child {
  display: none;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 10px);
}

@media (min-width: 600px) {
  .with-sidebar > * > :first-child {
    display: inherit;
  }
}

sidebar {
  height: fit-content;
  padding: 10px;
}

sidebar ul,
sidebar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
sidebar > ul > li {
  margin-top: 20px;
}
sidebar > ul > li > span {
  font-weight: bold;
}

sidebar > ul > li > ul > li {
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 3px 3px 3px 20px; 
}

sidebar > ul > li > ul > li > span:first-child {
  width: 3ch;
  color: grey;
  display: inline-block;
}

heading > h1 {
  padding: 10px;
  margin: 0;
}

.content-heading {
  position: sticky;
  top: 0;
  background-color: white;
}

/*
  TABLES
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 7px;
  border: 1px solid #dfe2e5;
}

table tr > th {
  padding: 5px;
  text-align: left;
}

/*
  CONTENT
*/
.content-info {
  display: flex;
  padding: 5px 10px 5px 10px;
  margin: -10px -10px 20px -10px;
  background-color: #f5f5f5;
}

.content-info > *:first-child {
  flex-grow: 1;
}

/*
  TEXT
*/
blockquote {
  background-color: rgba(255,229,100,.3);
  border-left: 8px solid #ffe564;
  padding: 15px 30px 15px 15px;
  margin: 15px 0 16px;
}

blockquote > p {
  margin: 0;
  padding: 0;
}

.block-danger {
  background-color: rgb(255 100 100 / 30%);
  border-left: 8px solid #ff6479;
  padding: 15px 30px 15px 15px;
  margin: 15px 0 16px;
}

pre > code {
  font-size: 110% !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
  padding: 10px !important;
}

.edit-page {
  padding-left: 25px;

  background-image: url(/img/github-mark.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
}